@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=Inter:opsz,wght@14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 700;
  color: #ebe7ef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: radial-gradient(
    circle at top,
    rgba(255, 110, 99, 0.9),
    rgba(200, 190, 87, 0.8)
  );
  background-repeat: repeat;
  background-size: 100% 100%, 30% 30%, 100% 100%;
  min-height: 110rem;
}
